<div class="video-container" id="{{videoId}}" url="{{videoId}}">
  <button type="button" id="post-delete" class="post-delete-button">Delete</button>
  <div class="video">
    <h3>{{title}}</h3>
    <iframe width="960" height="540" src="https://www.youtube.com/embed/{{videoId}}" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
